@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
*{
  font-family: "Inter", sans-serif;
}
.title {
  text-align: center;
  color: seashell;
}
.buttoncenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.attack {
  background-color: rgb(0, 105, 255);
  color: seashell;
  border: none;
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.heal {
  background-color: rgb(0, 105, 255);
  color: seashell;
  border: none;
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #a39ee9;
  border: 1px solid #a927f5;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(199, 93, 226);
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #000000;
  transition: all 0.2s ease-out;
}

#health-levels {
  margin: 2rem auto;
  width: 40rem;
  text-align: center;
  color: rgb(205, 221, 255);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: rgba(114, 104, 255, 0.137);
}

#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  background-image: url("laser.png");
  background-repeat: no-repeat;
}

main {
  justify-content: center;
  display: flex;
}
#dragon {
  position: absolute;
  bottom: 0%;
  left: 25%;
  width: 300px;
  height: 300px;
}
#dog{
  position: absolute;
  bottom: 60%;
  left: 50%;
  width: 100px;
  height: 100px;
}
